.formatoFooter{
    margin-top: 3%;
    background-color: #f19c1d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: solid 3px #B5122A;
    padding-bottom: 1px;
}

.columnaPadding{
    padding-left: 3%;
}

.columnaPadding2{
    padding-left: 8%;
}

h1{
  color: #B5122A;
  text-align: left;
  margin-top: 10px;
  font-weight: 700;
  padding-left: 70px;
  padding-bottom: 10px;
}

.textos {
  text-align: left;
  color: #2B2420;
  font-variant: normal;
  font-weight: 400;
  font-size: 18px;
  padding-left: 70px;
}

.formatoTextoFooter{
    margin-top: 20px;
}

.footer-fondo{
    text-align: center;
}