<section class="seccionTitulo">
    <div class="container">

        <h1>Encuentra las dos imagenes</h1>

    </div>

</section>

<section class="seccionTabla">
    <table class="tabla" id=""tabla>
        <tr>
            <th>
                <img src="Images/Interrogacion.png" class="img"
                    (click)="descubrirTabla(1)"
                    id="imgTabla1">
            </th>
            <th>
                <img src="Images/Interrogacion.png" class="img"
                    (click)="descubrirTabla(2)"
                    id="imgTabla2">
            </th>
            <th>
                <img src="Images/Interrogacion.png" class="img"
                    (click)="descubrirTabla(3)"
                    id="imgTabla3">
            </th>
            <th>
                <img src="Images/Interrogacion.png" class="img"
                    (click)="descubrirTabla(4)"
                    id="imgTabla4">
            </th>

            <tr>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(5)"
                        id="imgTabla5">
                </td>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(6)"
                        id="imgTabla6">
                </td>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(7)"
                        id="imgTabla7">
                </td>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(8)"
                        id="imgTabla8">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(9)"
                        id="imgTabla9">
                </td>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(10)"
                        id="imgTabla10">
                </td>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(11)"
                        id="imgTabla11">
                </td>
                <td>
                    <img src="Images/Interrogacion.png" class="img"
                        (click)="descubrirTabla(12)"
                        id="imgTabla12">
                </td>

                <tr>
                    <td>
                        <img src="Images/Interrogacion.png" class="img"
                            (click)="descubrirTabla(13)"
                            id="imgTabla13">
                    </td>
                    <td>
                        <img src="Images/Interrogacion.png" class="img"
                            (click)="descubrirTabla(14)"
                            id="imgTabla14">
                    </td>
                    <td>
                        <img src="Images/Interrogacion.png" class="img"
                            (click)="descubrirTabla(15)"
                            id="imgTabla15">
                    </td>
                    <td>
                        <img src="Images/Interrogacion.png" class="img"
                            (click)="descubrirTabla(16)"
                            id="imgTabla16">
                    </td>
                </tr>
            </table>
        </section>
        <!-- Modal de victoria -->
        <div class="modal d-block" tabindex="-1" *ngIf="mostrarModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">¡Felicidades!</h4>
                        <button type="button" class="btn-close"
                            (click)="cerrarModal()"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        {{mensaje2}}
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btnCerrarModal"
                            (click)="cerrarModal()">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-backdrop show" *ngIf="mostrarModal"></div>